$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 0%);

// primary color
$darkCyan: hsl(185, 75%, 39%);
$veryDark: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkLine: hsla(227, 10%, 46%, 0.2);

// Netural
$darkGray: hsl(0, 0%, 59%);